<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Данные студента не найдены</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Данные студента не найдены или недоступны</h1>
<div>
    <a href="/student/">
        <button>Вернуться к списку студентов</button>
    </a>
</div>

</body>
</html>
