<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Просмотр данных студента</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>

<div>
    <a href="/student/">
        <button>Вернуться к списку студентов</button>
    </a>
</div>
<div>
    <a th:href="@{/student/edit/{id}(id=${student.getRecordId()})}">
        <button>Изменить данные</button>
    </a>
</div>
<div class="studentView">
    <div>
        Номер зачетки: <span th:text="${student.getRecordId()}"/>
    </div>

    <div>
        Фамилия: <span th:text="${student.getLastName()}"/>
    </div>

    <div>
        Имя: <span th:text="${student.getName()}"/>
    </div>

    <div>
        Отчество: <span th:text="${student.getSecondName()}"/>
    </div>

    <div>
        Дата рождения: <span th:text="${#temporals.format(student.getBirthdayDate(), 'dd-MM-yyyy')}"/>
    </div>

    <div>
        Дата поступления: <span th:text="${#temporals.format(student.getEntryDate(), 'dd-MM-yyyy')}"/>
    </div>

    <div>
        Номер группы: <span th:text="${student.getGroupId()}"/>
    </div>

    <div>
        Номер телефона: <span th:text="${student.getPhone()}"/>
    </div>


</div>
<div class="taskView"
     style="width: 500px; margin: auto; text-align: center; border: cadetblue; background-color: lightgray">
    <h4>Успеваемость</h4>

    <div>
        <table class="subjectsToView" style="border-collapse: collapse; margin: auto">
            <tr>
                <th style="border: 1px solid gray">Название предмета</th>
                <th style="border: 1px solid gray">Оценка</th>
            </tr>
            <th:block th:each="subject: ${task.getSubjects()}">
                <tr>
                    <td th:text="${subject.getTitle()}" style="border: 1px solid gray">Название предмета</td>
                    <td th:text="${subject.getAssessment()}" style="border: 1px solid gray">Оценка</td>
                </tr>
            </th:block>
        </table>
        <br>
    </div>

    <div>
        Дата сдачи контрольной работы: <span th:text="${#dates.format(task.getDeadLine(), 'dd-MM-yyyy')}"/> <br><br><br>
    </div>

    <div>
        Комментарии преподавателя: <p th:text="${task.getComment()}"/>
        <hr>
    </div>


</div>
</body>
</html>
