<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создание / редактирование групп</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Создание записи</h1>
<div>
    <a href="/group/"><button>К списку групп</button></a>
</div>

<div th:if="${group == null}">
    <form method="post">
        <label>Название группы</label>
        <input type="text" name="name" required="required"><br>

        <label>Описание</label>
        <input type="text" name="description"><br>

        <p>
            <button>Создать запись</button>
        </p>
    </form>
</div>
<div th:if="${group != null}">
    <form method="post">

        <label>Название группы</label>
        <input type="text" name="name" required="required" th:value="${group.getName()}"><br>

        <label>Описание</label>
        <input type="text" name="description" th:value="${group.getDescription()}"><br>

        <p>
            <button>Редактировать запись</button>
        </p>
    </form>
</div>


</body>
</html>
