<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Задание не найдено</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<h1>Задание не найдено или недоступно</h1>
<div>
    <a href="/task/">
        <button>Вернуться в главное меню</button>
    </a>
</div>

</body>
</html>
